<div class="u-sidebar__scroller">
  <div class="u-sidebar__container">
    <div class="u-header-sidebar__footer-offset">
      <!-- Toggle Button -->
      <div class="d-flex align-items-center pt-4 px-7">
        <button type="button" class="close ml-auto target-of-invoker-has-unfolds active" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="true" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- End Toggle Button -->

      <!-- Content -->
      <div class="js-scrollbar u-sidebar__body mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
        <div class="u-sidebar__content u-header-sidebar__content">
          <%= form_for User.new, url: session_path(User), html: { class: "js-validate", novalidate: "novalidate" } do |f| %>
            <!-- Login -->
            <div id="login" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-7">
                <h2 class="h4 mb-0">Welcome Back!</h2>
                <p>Login to manage your account.</p>
              </header>
              <!-- End Title -->

              <input type="hidden" name="redirect_to" value="<%= jobs_path %>"/>

              <!-- Form Group -->
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_email">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_email_label">
                        <span class="fas fa-user"></span>
                      </span>
                    </div>
                    <%= f.email_field :email, class: "form-control", placeholder: "Email",
                          required: true,
                          aria: { label: "Email", describedby: "user_email_label" },
                          data: {
                            msg: "Please enter a valid email address.",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_password_label">
                        <span class="fas fa-lock"></span>
                      </span>
                    </div>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password",
                          required: true,
                          aria: { label: "Password", describedby: "user_password_label" },
                          data: {
                            msg: "Your password is invalid. Please try again.",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>
              <!-- End Form Group -->

              <div class="d-flex justify-content-end mb-4">
                <a class="js-animation-link small link-muted" href="javascript:;" data-target="#forgotPassword" data-link-group="idForm" data-animation-in="slideInUp">Forgot Password?</a>
              </div>

              <div class="mb-2">
                <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Login</button>
              </div>

              <div class="text-center mb-4">
                <span class="small text-muted">Do not have an account?</span>
                <a class="js-animation-link small" href="javascript:;" data-target="#signup" data-link-group="idForm" data-animation-in="slideInUp">Signup
                </a>
              </div>

              <div class="text-center">
                <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
              </div>

              <!-- Login Buttons -->
              <div class="d-flex">
                <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                  <span class="fab fa-facebook-square mr-1"></span>
                  Facebook
                </a>
                <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                  <span class="fab fa-google mr-1"></span>
                  Google
                </a>
              </div>
              <!-- End Login Buttons -->
            </div>

            <!-- Signup -->
            <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-7">
                <h2 class="h4 mb-0">Welcome to CodeFund</h2>
                <p>Fill out the form to get started.</p>
              </header>
              <!-- End Title -->
              
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_first_name">First Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_first_name_label">
                        <span class="fas fa-person"></span>
                      </span>
                    </div>
                    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name",
                          required: true,
                          aria: { label: "first_name", describedby: "user_first_name_label" },
                          data: {
                            msg: "Please enter your first name",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>

              <!-- Form Group -->
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_email">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_email_label">
                        <span class="fas fa-user"></span>
                      </span>
                    </div>
                    <%= f.email_field :email, class: "form-control", placeholder: "Email",
                          required: true,
                          aria: { label: "Email", describedby: "user_email_label" },
                          data: {
                            msg: "Please enter a valid email address.",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>
              <!-- End Input -->

              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_password_label">
                        <span class="fas fa-lock"></span>
                      </span>
                    </div>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password",
                          required: true,
                          aria: { label: "Password", describedby: "user_password_label" },
                          data: {
                            msg: "Your password is invalid. Please try again.",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="user_company_name">Company</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="user_company_name_label">
                        <span class="fas fa-building"></span>
                      </span>
                    </div>
                    <%= f.text_field :company_name, class: "form-control", placeholder: "Company",
                          required: true,
                          aria: { label: "company_name", describedby: "user_company_name_label" },
                          data: {
                            msg: "Please enter your company name",
                            error_class: "u-has-error",
                            success_class: "u-has-success"
                          } %>
                  </div>
                </div>
              </div>


              <div class="mb-2">
                <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Get Started</button>
              </div>

              <div class="text-center mb-4">
                <span class="small text-muted">Already have an account?</span>
                <a class="js-animation-link small" href="javascript:;" data-target="#login" data-link-group="idForm" data-animation-in="slideInUp">Login
                </a>
              </div>

              <div class="text-center">
                <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
              </div>

              <!-- Login Buttons -->
              <div class="d-flex">
                <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                  <span class="fab fa-facebook-square mr-1"></span>
                  Facebook
                </a>
                <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                  <span class="fab fa-google mr-1"></span>
                  Google
                </a>
              </div>
              <!-- End Login Buttons -->
            </div>
            <!-- End Signup -->

            <!-- Forgot Password -->
            <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-7">
                <h2 class="h4 mb-0">Recover Password.</h2>
                <p>Enter your email address and an email with instructions will be sent to you.</p>
              </header>
              <!-- End Title -->

              <!-- Form Group -->
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="recoverEmail">Your email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="recoverEmailLabel">
                        <span class="fas fa-user"></span>
                      </span>
                    </div>
                    <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                  </div>
                </div>
              </div>
              <!-- End Form Group -->

              <div class="mb-2">
                <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Recover Password</button>
              </div>

              <div class="text-center mb-4">
                <span class="small text-muted">Remember your password?</span>
                <a class="js-animation-link small" href="javascript:;" data-target="#login" data-link-group="idForm" data-animation-in="slideInUp">Login
                </a>
              </div>
            </div>
            <!-- End Forgot Password -->
          <% end %>
        </div>
      </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
      <!-- End Content -->
    </div>

    <!-- Footer -->
    <footer id="SVGwaveWithDots" class="u-sidebar__footer u-sidebar__footer--account" style="">
      <ul class="list-inline mb-0">
        <li class="list-inline-item pr-3">
          <a class="u-sidebar__footer--account__text" href="../pages/privacy.html">Privacy</a>
        </li>
        <li class="list-inline-item pr-3">
          <a class="u-sidebar__footer--account__text" href="../pages/terms.html">Terms</a>
        </li>
        <li class="list-inline-item">
          <a class="u-sidebar__footer--account__text" href="../pages/help.html">
            <i class="fas fa-info-circle"></i>
          </a>
        </li>
      </ul>

      <!-- SVG Background Shape -->
      <div class="position-absolute right-0 bottom-0 left-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 126.5" style="margin-bottom: -5px; enable-background:new 0 0 300 126.5;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGwaveWithDots">
<style type="text/css">
.wave-bottom-with-dots-0{fill:#377DFF;}
.wave-bottom-with-dots-1{fill:#377DFF;}
.wave-bottom-with-dots-2{fill:#DE4437;}
.wave-bottom-with-dots-3{fill:#00C9A7;}
.wave-bottom-with-dots-4{fill:#FFC107;}
</style>
<path class="wave-bottom-with-dots-0 fill-primary" opacity=".6" d="M0,58.9c0-0.9,5.1-2,5.8-2.2c6-0.8,11.8,2.2,17.2,4.6c4.5,2.1,8.6,5.3,13.3,7.1C48.2,73.3,61,73.8,73,69  c43-16.9,40-7.9,84-2.2c44,5.7,83-31.5,143-10.1v69.8H0C0,126.5,0,59,0,58.9z"></path>
<path class="wave-bottom-with-dots-1 fill-primary" d="M300,68.5v58H0v-58c0,0,43-16.7,82,5.6c12.4,7.1,26.5,9.6,40.2,5.9c7.5-2.1,14.5-6.1,20.9-11  c6.2-4.7,12-10.4,18.8-13.8c7.3-3.8,15.6-5.2,23.6-5.2c16.1,0.1,30.7,8.2,45,16.1c13.4,7.4,28.1,12.2,43.3,11.2  C282.5,76.7,292.7,74.4,300,68.5z"></path>
<g>
<circle class="wave-bottom-with-dots-2 fill-danger" cx="259.5" cy="17" r="13"></circle>
<circle class="wave-bottom-with-dots-1 fill-primary" cx="290" cy="35.5" r="8.5"></circle>
<circle class="wave-bottom-with-dots-3 fill-success" cx="288" cy="5.5" r="5.5"></circle>
<circle class="wave-bottom-with-dots-4 fill-warning" cx="232.5" cy="34" r="2"></circle>
</g>
</svg>
      </div>
      <!-- End SVG Background Shape -->
    </footer>
    <!-- End Footer -->
  </div>
</div>