<div class="u-sidebar__scroller">
  <div class="u-sidebar__container">
    <div class="u-header-sidebar__footer-offset">
      <!-- Toggle Button -->
      <div class="d-flex align-items-center pt-4 px-7">
        <button type="button" class="close ml-auto target-of-invoker-has-unfolds active" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="true" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- End Toggle Button -->

      <!-- Content -->
      <div class="js-scrollbar u-sidebar__body mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
        <div class="u-sidebar__content u-header-sidebar__content">
          <%= form_for User.new, url: session_path(User), html: { class: "js-validate", novalidate: "novalidate" } do |f| %>
            <input type="hidden" name="redirect_to" value="<%= jobs_path %>"/>
            <%= render partial: "/@shared/sidebars/login_fields", locals: { foo: "FOO", f: f } %>
            <%= render partial: "/@shared/sidebars/signup_fields", locals: { foo: "FOO", f: f } %>
            <%= render partial: "/@shared/sidebars/forgot_password_fields", locals: { foo: "FOO", f: f } %>
          <% end %>
        </div>
      </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
      <!-- End Content -->
    </div>
  </div>
</div>